{% load static %}
<html>

<head>
    {% csrf_token %}
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shorcut icon" href={% static 'img/favicon.ico' %} />
    <link rel="stylesheet" href={% static 'css/control_canvas.css' %} />
    <script src={% static 'js/jquery-3.4.1.min.js' %}></script>
    <script src={% static 'js/control_canvas.js' %}></script>
</head>

<body>
    <div class="control-view">
        <div class="controller" id="ctrl-h">
            <div class="control-val" id="ctrlval-h"></div>
            <canvas class="control-canvas" id="cvs-ch" width="150px" height="150px"></canvas>
        </div>
        <div class="controller" id="ctrl-v">
            <div class="control-val" id="ctrlval-v"></div>
            <canvas class="control-canvas" id="cvs-cv" width="150px" height="150px"></canvas>
        </div>
    </div>
</body>

</html>