{% load static %}
<html>

<head>
    {% csrf_token %}
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/styles.css' %} />
    <link rel="stylesheet" href={% static 'css/jquery-ui.min.css' %} />
    <link rel="shorcut icon" href={% static 'img/favicon.ico' %} />
    <script src={% static 'js/jquery-3.4.1.min.js' %}></script>
    <script src={% static 'js/jquery-ui.min.js' %}></script>
    <script src={% static 'js/jquery.ui.touch-punch.min.js' %}></script>
    <script src={% static 'js/index.js' %}></script>
</head>

<body>
    <div class="content-area" id="controller">
        <div class="control-box" id="slider-wrap-horizon">
            <p>horizon</p>
            <div class="control-box-inner control-box-inner-horizon" id="slider-wrap-virtical">
                <div id="slider-bar-horizon" class="slider-bar"></div>
                <div>
                    <button id="slider-arrow-left" class="slider-arrow slider-arrow-horizon">◀</button>
                </div>
                <div>
                    <button id="slider-arrow-right" class="slider-arrow slider-arrow-horizon">▶</button>
                </div>
            </div>
            <div class="slider-value-box" id="slider-value-box-hoizon">
                <span class="slider-value" id="slider-value-horizon">0</span>
            </div>
        </div>
        <div class="control-box" id="slider-wrap-virtical">
            <p>virtical</p>
            <div class="control-box-inner control-box-inner-virtical" id="slider-wrap-virtical">
                <div id="slider-bar-virtical" class="slider-bar"></div>
                <div class="slider-arrow-box-virtical">
                    <div>
                        <button id="slider-arrow-up" class="slider-arrow slider-arrow-virtical">▲</button>
                    </div>
                    <div>
                        <button id="slider-arrow-down" class="slider-arrow slider-arrow-virtical">▼</button>
                    </div>
                </div>
            </div>
            <div class="slider-value-box" id="slider-value-box-virtical">
                <span class="slider-value" id="slider-value-virtical">0</span>
            </div>
        </div>
    </div>
</body>

</html>