body {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.controller {
    padding: 10px;
    float: left;
    margin: 0 auto;
}

.control-canvas {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: gray;
    border-radius: 10px;
}