body {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    background: cadetblue;
}

.ctrl-area {
    padding: 10px;
    float: left;
    margin: 0 auto;
}

.ctrl-val {
    padding: 10px;
    margin: 10px;
    background: gray;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

.ctrl-cvs {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: black;
    border-radius: 10px;
}