body {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.control-box {
    float: left;
    padding: 10px;
    text-align: center;
}

.control-box-inner {
    width: 150px;
    border-style: outset;
    border-radius: 10px;
    background-color: #1bff002b;
}

.control-box-inner-virtical {
    padding-top: 15px;
    padding-bottom: 15px;
}

.control-box-inner-horizon {
    padding-top: 59px;
    padding-bottom: 59px;
}

#slider-bar-virtical {
    height: 100px;
    margin-left: 65px;
    float: left;
}

#slider-bar-horizon {
    width: 100px;
    margin: auto;
}

.slider-arrow {
    background-color: burlywood;
    color: red;
    text-align: center;
}

.slider-arrow-horizon {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 7px;
}

.slider-arrow-virtical {
    margin: 13px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.slider-value-box {
    height: 25px;
    width: 100px;
    background-color: bisque;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}